In [1]:
from msg_parsing import OrderBook
import pandas as pd
x = OrderBook('970 HK Equity')
x.run()

100%|██████████| 52/52 [00:00<00:00, 105.76it/s]

adding new row...
adding new row...
adding new row...

In [3]:
x.trade_prints

                     time   type  value  size conditionCodes
0 2023-06-23 10:14:26.822  TRADE   0.80   500              D
1 2023-06-23 10:33:10.330  TRADE   0.87  2000            NaN
2 2023-06-23 10:37:18.663  TRADE   1.00  2000            NaN

In [22]:
df = x.all_msg_df

In [24]:
df.to_csv('all_msg.csv',date_format='%s.%f')

In [16]:
MBO = df[df['MKTDEPTH_EVENT_TYPE'] == 'MARKET_BY_ORDER'].dropna(axis=1, how='all')

In [2]:
x.journal_df

,Timestamp,BrokerID,Price,Side,Size,Action,Position,Condition Codes,Broker Name
0,2023-06-23 10:14:26.822000,(Debug) Not Recognized,0.80,(Debug) Not Recognized,500.0,NaN,NaN,D,NaN
1,2023-06-23 10:33:10.330000,(Debug) Not Recognized,0.87,(Debug) Not Recognized,2000.0,NaN,NaN,NaN,NaN
2,2023-06-23 10:37:18.663000,(Debug) Not Recognized,1.00,(Debug) Not Recognized,2000.0,NaN,NaN,NaN,NaN
3,2023-06-23 09:30:31.344000,3646,0.84,BID,2000.0,New Order,1.0,NaN,Merrill Lynch Far East Limited
4,2023-06-23 09:30:42.908000,5256,0.84,BID,2000.0,New Order,2.0,NaN,Zinvest Global Limited
...,...,...,...,...,...,...,...,...,...
79,2023-06-23 11:28:06.598000,3646,0.84,BID,2000.0,Removed Order,2.0,NaN,Merrill Lynch Far East Limited
80,2023-06-23 12:32:01.415000,1677,0.83,BID,2000.0,Removed Order,2.0,NaN,Quam Securities Limited
81,2023-06-23 13:12:49.974000,9023,1.00,ASK,4000.0,New Order,3.0,NaN,UBS Securities Hong Kong Limited
82,2023-06-23 13:15:14.276000,3646,0.84,BID,2000.0,Removed Order,1.0,NaN,Merrill Lynch Far East Limited
83,2023-06-23 13:15:14.276000,5256,0.83,BID,2000.0,New Order,1.0,NaN,Zinvest Global Limited

In [31]:

pd.concat([x.journal_df.iloc[:76], x.journal_df.iloc[14].to_frame().T, x.journal_df.iloc[76:]], ignore_index=True)

,Timestamp,BrokerID,Price,Side,Size,Action,Position,Condition Codes,Broker Name
0,2023-06-23 09:30:31.344000,3646,0.84,BID,2000.0,New Order,1.0,NaN,Merrill Lynch Far East Limited
1,2023-06-23 09:30:42.908000,5256,0.84,BID,2000.0,New Order,2.0,NaN,Zinvest Global Limited
2,2023-06-23 09:30:42.909000,3646,0.84,BID,2000.0,Removed Order,1.0,NaN,Merrill Lynch Far East Limited
3,2023-06-23 09:30:42.909000,5256,0.83,BID,2000.0,New Order,2.0,NaN,Zinvest Global Limited
4,2023-06-23 09:30:42.910000,5256,0.83,BID,2000.0,Removed Order,2.0,NaN,Zinvest Global Limited
...,...,...,...,...,...,...,...,...,...
74,2023-06-23 11:11:52.792000,3646,0.84,BID,2000.0,New Order,2.0,NaN,Merrill Lynch Far East Limited
75,2023-06-23 11:28:06.598000,5227,1.0,ASK,42000.0,New Order,2.0,NaN,Shenwan Hongyuan Securities (H.K.) Limited
76,2023-06-23 09:31:12.019000,1836,0.66,BID,10000.0,New Order,4.0,NaN,Instinet Pacific Limited
77,2023-06-23 11:28:06.598000,3646,0.84,BID,2000.0,Removed Order,2.0,NaN,Merrill Lynch Far East Limited
78,2023-06-23 12:32:01.415000,1677,0.83,BID,2000.0,Removed Order,2.0,NaN,Quam Securities Limited

In [40]:
x.journal_df

,Timestamp,BrokerID,Price,Side,Size,Action,Position,Condition Codes,Broker Name
0,2023-06-23 09:30:31.344000,3646,0.84,BID,2000.0,New Order,1.0,NaN,Merrill Lynch Far East Limited
1,2023-06-23 09:30:42.908000,5256,0.84,BID,2000.0,New Order,2.0,NaN,Zinvest Global Limited
2,2023-06-23 09:30:42.909000,3646,0.84,BID,2000.0,Removed Order,1.0,NaN,Merrill Lynch Far East Limited
3,2023-06-23 09:30:42.909000,5256,0.83,BID,2000.0,New Order,2.0,NaN,Zinvest Global Limited
4,2023-06-23 09:30:42.910000,5256,0.83,BID,2000.0,Removed Order,2.0,NaN,Zinvest Global Limited
...,...,...,...,...,...,...,...,...,...
73,2023-06-23 11:11:52.792000,3646,0.85,BID,2000.0,Removed Order,1.0,NaN,Merrill Lynch Far East Limited
74,2023-06-23 11:11:52.792000,3646,0.84,BID,2000.0,New Order,2.0,NaN,Merrill Lynch Far East Limited
75,2023-06-23 11:28:06.598000,5227,1.00,ASK,42000.0,New Order,2.0,NaN,Shenwan Hongyuan Securities (H.K.) Limited
76,2023-06-23 11:28:06.598000,3646,0.84,BID,2000.0,Removed Order,2.0,NaN,Merrill Lynch Far East Limited
77,2023-06-23 12:32:01.415000,1677,0.83,BID,2000.0,Removed Order,2.0,NaN,Quam Securities Limited

In [34]:
a = x.trade_prints.iloc[-1]

In [38]:
pd.DataFrame(a.to_dict(),index=[0])

                     time   type  value  size  conditionCodes
0 2023-06-23 10:37:18.663  TRADE    1.0  2000             NaN